@tailwind base;
@tailwind components;
@tailwind utilities;


  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat:wght@200&family=Poppins&family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,700&family=Sacramento&display=swap');
 
  * {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
  }

  /* html */
  html {
    height: 100%;
    overflow: hidden;
  }

  body {
    overflow: auto;
    scroll-behavior: smooth;
    width: 100%;
    height: 100%
  }

  /* scrollbar */
  ::-webkit-scrollbar {
    display: none;
  }

  /* anchor tag */
  a, a:hover, a:focus, a:active {
    color: inherit;
    text-decoration: none;
  }

  /* media queries */

  /* >= 768px */
  @media screen and (min-width: 768px) {
    html {
        font-size: 110%;
    }
  }